apiVersion: v1
kind: Service
metadata: 
  name: mongodb-servcies
  labels: 
    app: mongodb-1
spec:
  selector: 
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017